<div class='container'>
  <div class="jumbotron">

<%=render partial: 'form', locals: { action: @action, cohort: Cohort.all.map {|cohort| [cohort.name, cohort.id]}, experiment: @experiment} %>
</div>
</div>
