<div class='container'>
  <div class="jumbotron">
    <h3>Create Experiment</h3>
<%=render partial: 'form', locals: { action: "/proposals/#{params[:proposal_id]}/experiments", cohort: @cohort } %>
</div>
</div>
