<h1>Observations</h1>
<% @observations.each do |observation| %>
  <div>
    Date: <%= observation.created_at %><br>
    Observation: <%= observation.observation_text %><br>
    Observer Name:<%= observation.user.name %>
  </div>
<% end %>
