<h1>Observations</h1>
<% @observations.each do |observation| %>
  <div>
    Observation: <%= observation.observation_text %><br>
    Date: <%= format_date(observation.created_at) %><br>
    Observer Name: <%= observation.user.name %>
  </div><br>
<% end %>
