<h1>Observation</h1>

  <div>
    Observation: <%= @observation.observation_text %><br>
    Date: <%= format_date(@observation.created_at) %><br>
    Observer Name: <%= @observation.user.name %>
  </div>

  <%=render partial: "comments/form", locals: {action: proposal_experiment_observation_comments_path(@proposal, @experiment, @observation)}%>

