<h4>Open Proposals</h4>
      <% pending_proposals.each do |proposal| %>
      <ul class="list-group">
          <li class="list-group-item list-group-item-info">No. <%= proposal.id %>: <%= proposal.title %> <span class="badge">open</span></li></li>
          <li class="list-group-item"><%= link_to 'Show', proposal %></li>
        </ul>
      <% end %>
